.array-container {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 5px;
}

.array-bar {
    width: 3px;
    background-color: pink; /*color of bars */
    display: inline-block;
    margin: 0 1px;
}